$background: #fffffe;
$background-dark: #16161a;
$heading: #2b2c34; // sub-heading, card-heading(dark also), card-paragraph = light mode
$heading-dark: #fffffe;
$paragraph: #2b2c34;
$paragraph-dark: #94a1b2; // sub-heading, card-paragraph = dark mode
$button: #6246ea;
$button-dark: #7f5af0;
$button-text: #fffffe;
$button-text-dark: #fffffe;
$card-background: #d1d1e9;
$card-background-dark: #16161a;

html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply bg-bg;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    &:hover {
        opacity: 0.8;
    }
}

ul,
ol {
    li {
        list-style: none;
        padding: 0%;
        margin: 0%;
    }
}

* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

p {
    margin-bottom: 1rem;
}

select {
    @apply bg-bg;
    @apply text-heading;
    option {
        // scss-lint:disable css-semicolonexpected
        @apply bg-cardBg;
        @apply text-heading;
    }
}
